.undoRedoButton {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}
.undoRedoButton:focus {
  outline: 0; /* reset for :focus */
}

.undoRedoButton:disabled {
  color: #ccc;
  background-color: transparent;
}

.buttonWrapper {
  display: inline-block;
}

.button {
  vertical-align: bottom;
  border: 0;
  color: #70777e;
  font-size: 18px;
  background: transparent;
  width: 40px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
}

@media (min-width: 801px) {
  @media (max-width: 853px) {
    .button {
      width: 30px;
    }
  }
}
@media (max-width: 1055px) {
  .button {
    width: 31px;
  }
}

.button svg {
  fill: #70777e;
}

.button:hover,
.button:focus {
  background: #f2f2f2;
  outline: 0; /* reset for :focus */
}

.active {
  color: #6a9cc9;
  background: #f2f2f2;
}

.active svg {
  /* fill: #6a9cc9; */
}

.emojiButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.emojiButton:hover {
  border-radius: 8px;
  background: #f2f2f2;
  border: none;
  outline: none;
}
