.editor {
  left: 0;
  padding: 24px;
  position: relative;
  align-self: flex-start;
  border: none;
  cursor: text;
  background: none;
  width: 100%;
}
@media (max-width: 1024px) {
  .editor{
    max-width:100% !important;
  }
}

.editorPreview {
  left: 0;
  padding: 24px;
  position: relative;
  align-self: flex-start;
  border: none;
  cursor: text;
  background: none;
  width: 100%;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 75px;
}
