.toolbar {
  border-radius: 8px;
  background: var(--White, #fff);
  width: 100%;
  padding: 6px 24px;

  z-index: 2;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (min-width: 801px) {
  @media (max-width: 920px) {
    .toolbar {
      padding: 6px 9px;
      gap: 6px;
    }}
}
@media (min-width: 921px){
  @media (max-width: 1083px){
  .toolbar {
    padding: 6px 14px;
    gap: 11px;
  }}
}
@media (min-width: 1084px){
@media (max-width: 1109px){
  .toolbar {
    padding: 6px 13px;
    gap: 13px;
  }
}
}

.toolbar button {
  display: flex;
  align-items: center;
  gap: 14px;
}

.toolbar:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #333;
  border-width: 4px;
  margin-left: -4px;
}

.toolbar:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #111;
  border-width: 6px;
  margin-left: -6px;
}
