.toolbar {
  border-radius: 8px;
  background: var(--White, #fff);
  width: 100%;
  padding: 6px 24px;
  z-index: 2;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (min-width: 768px) {
  @media (max-width: 840px) {
    .toolbar {
      padding: 5px 13px;
      gap: 1.2%;
    }
  }
}
@media (min-width: 841px) {
  @media (max-width: 889px) {
    .toolbar {
      padding: 5px 13px;
      gap: 1.5%;
    }
  }
}
@media (min-width: 890px) {
  @media (max-width: 958px) {
    .toolbar {
      padding: 6px 3px;
      gap: 1.8%;
    }
  }
}
@media (min-width: 959px) {
  @media (max-width: 1051px) {
    .toolbar {
      padding: 6px 14px;
      gap: 2%;
    }
  }
}

@media (min-width: 1084px) {
  @media (max-width: 1109px) {
    .toolbar {
      padding: 6px 13px;
      gap: 13px;
    }
  }
}

.toolbar button {
  display: flex;
  align-items: center;
  gap: 14px;
}

.toolbar:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #333;
  border-width: 4px;
  margin-left: -4px;
}

.toolbar:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #111;
  border-width: 6px;
  margin-left: -6px;
}
